a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    color: #FFA500;
}

body {
    background-color: black;
    color: white;
    font-family: 'Cinzel', serif;
    padding-bottom: 50px;
    text-align: center;
}

.farmers_market_header {
    color: tan;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 20px;
}

.farmers_market_img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.instagram {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}